# зависимости
/node_modules

# сборка Next.js
/.next
/out

# кеш инкрементальной сборки TypeScript
*.tsbuildinfo

# переменные окружения
.env
.env.local

# Prisma
/prisma/migrations/dev.db

# системные файлы
.DS_Store
*.log
